
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Creator</title>
</head>
<body style="background-color: #365794;">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">SuperHero Creator </span>
            <a class="navbar-brand" href="new">Create</a>
        </div>
    </nav>
    <div class="container"><br>
        <div class="card">
      <h5 class="card-header">SuperHero Creator</h5>
      <div class="card-body">
        <h5 class="card-title">Welcome to the Superhero Creator!</h5>
        <p class="card-text">Present by adding superheroes! </p>
        <a href="new" class="btn btn-success">Create a new superhero</a>
      </div>
    </div><br>
    <div class="row justify-content-center">
        {% for SuperHero in all_superheroes %}
            <div class="col-sm-3 col-md-3 g-4">
        <div class="card" style="">
      <img src="file:///Users/dustin.koy/Desktop/projects/images/139-1394130_thor-superhero-thor-marvel-marvel-now-marvel-comics.png" class="card-img-top" alt="{{SuperHero.superhero_name}}" style="width:175px;height:175px;">>
      <div class="card-body">
          <h2>{{SuperHero.superhero_name}}</h2>
        <p class="card-text">{{SuperHero.alter_ego_name}}</p>
          <a href="{% url 'Superhero:detail' SuperHero.id %}" class="btn btn-primary">View</a>
          <a href="{% url 'Superhero:edit' SuperHero.id %}" class="btn btn-warning">Edit</a>
          <a href="{% url 'Superhero:delete' SuperHero.id %}" class="btn btn-danger">Delete</a>
      </div>
        </div></div><br>
        {% endfor %}
        </div>
    <br><br>
    </div>
    </body>
    </html>